.img-colors {
    margin-bottom: -5px;
    min-width: 100%;
    max-height: 100vh;
    position: absolute;
    z-index: -999;
}

.custom-menu {
    margin-top: 4%;
}

.text-front-box {
    margin-top: 14.3%;
}

.front-box {
    margin-top: 16%;
    border-radius: 12px;
}

.text-front {
    font-size: 30px;
    font-weight: bold;
    margin-left: 70px;
    margin-top: 20%;
}

.text-front-small {
    word-wrap: break-word;
    width: 70%;
    margin-left: 70px;
}

nav {
    position: absolute;
}

.nav-wrapper {
    padding-left: 8%;
    padding-right: 8%;
}

.z-depth-0 {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

.custom-li {
    font-size: 20px;
}

.custom-collor-buttom {
    background-image: linear-gradient(to right, #8468f5 0%, #ec74e7 100%);
}

.custom-input {
    color: #323c5a;
    font-family: 'Tajawal', sans-serif;
    font-size: 30px !important;
    letter-spacing: 1px;
}

.custom-logo {
    max-width: 100px;
}

.logo-play {
    max-width: 70px;
    margin-top: 20px;
}

.text-play {
    color: #8f9ab6;
    font-family: 'Tajawal', sans-serif;
    font-size: 18px;
}

.preocupado {
    color: #9ca5be;
    font-family: 'Tajawal', sans-serif;
    font-size: 20px;
}

.sobre {
    background: linear-gradient(#f4f6f9, #8468f5);
}

.box-left-back {
    background-color: #3498db;
    min-height: 100vh;
    width: 55%;
    float: left;
    margin-bottom: -25px;
}

.box-right-back {
    background-color: #2980b9;
    min-height: 100vh;
    margin-bottom: -25px;
}

.box-login {
    position: absolute;
    z-index: 1;
    top: 8%;
    border-radius: 8px;
}

.inner-left-box {
    height: 80vh;
    /* background-color: rgb(52, 96, 219); */
    background: linear-gradient(#3498db, #2d82bb);
    width: 58.85%;
    float: left;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    margin-left: -11px;
}

.inner-right-box {
    height: 80vh;
    background-color: #34495e;
    width: 43.6%;
    float: right;
    margin-right: -11px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: relative;
}

.entrar-google-text {
    color: #d6e1e8;
    margin-left: 70px;
    font-size: 14px;
    margin-top: 50px;
}

.entrar-google-icon {
    width: 20px;
    position: absolute;
    margin-left: -30px;
}

.input-class {
    color: #d6e1e8;
    font-weight: bold;
}

.inputs-box {
    padding: 30px;
    margin-top: 70px;
}

.custom-btn {
    background-color: #16b5e0;
}

.color-text {
    color: white;
}

.barra-55 {
    margin-top: 55px;
}

.barra-10 {
    margin-top: -10px;
}

.menu-small {
    position: absolute;
    min-height: 100vh;
}

.custom-icon {
    max-width: 250px;
    margin-left: 70px;
}

.custom-icon-modal {
    max-width: 250px;
    margin-top: 16%;
}

.custom-icon-modal-senha {
    max-width: 250px;
    margin-top: 8%;
}

.custom-btn-modal {
    width: 100%;
    background-color: #3498DB;
}

.custom-rigth-modal {
    background-color: #34495e;
}

.close-modal-icon{
    position: absolute;
    top: 10px;
    right: 10px;
}