<div class="row">
    <div class="box-left-back animated fadeInLeft hide-on-med-and-down"></div>
    <div class="box-right-back hide-on-med-and-down"></div>
    <div class="col s10 m8 offset-m2 offset-s1 box-login z-depth-5 animated fadeInRight hide-on-med-and-down">
        <div class="inner-left-box">
            <p class="color-text text-front">Juntos podemos mais</p>
            <img src="../../../assets/icon.png" class="responsive-img custom-icon" alt="">
        </div>
        <div class="inner-right-box">
            <p class="entrar-google-text pointer" (click)="signInWithGoogle()">
                <img src="../../../assets/2000px-Google__G__Logo.svg.png" class="entrar-google-icon responsive-img" alt="">
                <b>Entrar com Google</b>
            </p>
            <div class="inputs-box">
                <form id="form-login" #form="ngForm" (ngSubmit)="tryLogin(formData)">
                    <div class="input-field col s12">
                        <input id="username" type="text" class="validate input-class" placeholder=" " required name="formData.username" [(ngModel)]="formData.username">
                        <label for="username">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate input-class" placeholder=" " required name="formData.password" [(ngModel)]="formData.password">
                        <label for="password">Password</label>
                    </div>
                    <div class="col s6">
                        <div class="container barra-10">
                            <p>
                                <input type="checkbox" class="filled-in checkbox-custom" id="lembrar" checked="checked" />
                                <label for="lembrar" class="color-text">Lembrar</label>
                            </p>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="container">
                            <button class="btn custom-btn" [disabled]="form.invalid">Entrar</button>
                        </div>
                    </div>
                </form>
                <div class="col s12 barra-55">
                    <p class="color-text pointer" (click)="openModal1()">
                        <b>Criar conta</b>
                    </p>
                    <p class="color-text pointer" (click)="openModal2()">
                        <b>Esqueceu senha?</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="hide-on-large-only menu-small custom-rigth-modal">
        <div class="col s12">
            <p class="entrar-google-text pointer" (click)="signInWithGoogle()">
                <img src="../../../assets/2000px-Google__G__Logo.svg.png" class="entrar-google-icon responsive-img" alt="">
                <b>Entrar com Google</b>
            </p>
            <div class="inputs-box">
                <form id="form-login-mobile" #formMobile="ngForm" (ngSubmit)="tryLogin(formDataMobile)">
                    <div class="input-field col s12">
                        <input id="usernameMobile" type="text" class="validate input-class" placeholder=" " required name="formDataMobile.username"
                            [(ngModel)]="formDataMobile.username">
                        <label for="usernameMobile">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="passwordMobile" type="password" class="validate input-class" placeholder=" " required name="formDataMobile.password"
                            [(ngModel)]="formDataMobile.password">
                        <label for="passwordMobile">Password</label>
                    </div>
                    <div class="col s6">
                        <div class="container barra-10">
                            <p>
                                <input type="checkbox" class="filled-in checkbox-custom" id="lembrarMobile" checked="checked" />
                                <label for="lembrar" class="color-text">Lembrar</label>
                            </p>
                        </div>
                    </div>
                    <div class="col s6">
                        <div class="container">
                            <button class="btn custom-btn" [disabled]="formMobile.invalid">Entrar</button>
                        </div>
                    </div>
                </form>
                <div class="col s12 barra-55">
                    <p class="color-text pointer" (click)="openModal1()">
                        <b>Criar conta</b>
                    </p>
                    <p class="color-text pointer" (click)="openModal2()">
                        <b>Esqueceu senha?</b>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions1">
    <div class="modal-content custom-rigth-modal">
        <i class="material-icons small close-modal-icon white-text pointer" (click)="closeModal1()">close</i>
        <form id="form-login-new" #newacc="ngForm" (ngSubmit)="createAccount(newAccData)">
            <div class="row">
                <div class="col s12 m6 center">
                    <img src="../../../assets/icon.png" class="responsive-img custom-icon-modal" alt="">
                </div>
                <div class="col s12 m6">
                    <h5 class="color-text">
                        <b>Nova Conta</b>
                    </h5>
                    <div class="col s12">
                        <input type="text" placeholder="Username" class="validate input-class" required name="newAccData.username" [(ngModel)]="newAccData.username"
                            (blur)="onBlurMethod(newAccData)">
                    </div>
                    <div class="col s12">
                        <input type="email" placeholder="E-mail" class="validate input-class" required name="newAccData.email" [(ngModel)]="newAccData.email">
                    </div>
                    <div class="col s12">
                        <input type="password" placeholder="Senha" class="validate input-class" required name="newAccData.password" [(ngModel)]="newAccData.password">
                    </div>
                    <div class="col s12">
                        <input type="password" placeholder="Repete Senha" class="validate input-class" required name="newAccData.confirmPassword"
                            [(ngModel)]="newAccData.confirmPassword">
                    </div>
                    <div class="col s12">
                        <button class="btn custom-btn-modal">Nova Conta</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--   <div class="modal-footer" style="background-color: #475c67;">
        <a class="waves-effect btn custom-btn" (click)="closeModal1()" style="margin-right: 15px;">Cancelar</a>
        <button class="custom-btn btn" [disabled]="newacc.invalid" style="margin-right: 10px;" (click)="createAccount(newAccData)">Enviar</button>
    </div> -->
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions2">
    <div class="modal-content custom-rigth-modal">
        <i class="material-icons small close-modal-icon white-text pointer" (click)="closeModal2()">close</i>
        <form id="form-senha-esqueceu" #recoverupdatepassword="ngForm" (ngSubmit)="ResetPasswordFunc(resetPassword)">
            <div class="row">
                <div class="col s12 m6 center">
                    <img src="../../../assets/icon.png" class="responsive-img custom-icon-modal-senha" alt="">
                </div>
                <div class="col s12 m6">
                    <h5 class="color-text">
                        <b>Esqueceu senha?</b>
                    </h5>
                    <p class="color-text">
                        <b>Ao preencher os campos abaixo, você recebera um e-mail com uma nova senha.</b>
                    </p>
                    <div class="col s12">
                        <input type="text" placeholder="Username" class="validate input-class" required name="resetPassword.username" [(ngModel)]="resetPassword.username">
                    </div>
                    <div class="col s12">
                        <input type="email" placeholder="E-mail" class="validate input-class" required name="resetPassword.email" [(ngModel)]="resetPassword.email">
                    </div>
                    <div class="col s12">
                        <button class="btn custom-btn-modal" [disabled]="recoverupdatepassword.invalid">Redefinir Senha</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--   <div class="modal-footer" style="background-color: #475c67;">
        <a class="waves-effect btn custom-btn" (click)="closeModal1()" style="margin-right: 15px;">Cancelar</a>
        <button class="custom-btn btn" [disabled]="newacc.invalid" style="margin-right: 10px;" (click)="createAccount(newAccData)">Enviar</button>
    </div> -->
</div>