.box-colors{
    width: 95%;
    height: 90vh;
    position: absolute;
    top: 5%;
    transform: translateY(-5%);
    left: 50%;
    transform: translateX(-50%);
}

.box-colors-up{
    width: 95.1%;
    height: 90vh;
    position: absolute;
    top: 5%;
    transform: translateY(-5%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
}