.custom-box {
    padding-left: 0px;
    padding-right: 0px;
}

.color-box-left {
    background-color: #888fdc;
}

.nav-margins {
    margin-left: 40px;
    margin-right: 50px;
}

.color-box-menu {
    background: #2980b9;
}

.box-left-menu {
    min-height: 80vh;
}

.box-body {
    background-color: #eef2f9;
    min-height: 97.5vh;
    margin-bottom: -35px;
}

.custom-btn-bottom {
    background: linear-gradient(to bottom right, #889ffb, #60acf8);
}

.custom-container {
    margin-left: 50px;
    margin-right: 50px;
}

.custom-box-row {
    border-radius: 5px;
    margin-top: 120px;
    min-height: 60vh;
    background-color: #f6f8fc;
}

.hr {
    height: 4px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: black;
    width: 100%;
}

.colora {
    background: linear-gradient(to right, #c66eea, #dd637e);
}

.colorb {
    background: linear-gradient(to right, #fe8a72, #feae33);
}

.colorc {
    background: linear-gradient(to right, #929cfd, #5aaaf8);
}

.colord {
    background: linear-gradient(to right, #6ed19e, #70d2ec);
}

div .custom-box-row .card {}

.color-title-table {
    color: #686889;
}

.collapsible-header, .collapsible-body, .collapsible, ul.collapsible>li {
    border: none!important;
    box-shadow: none!important;
}

.collapsible-header:hover {
    background-color: #686889;
    color: #ffffff;
}

:host /deep/ ng2-smart-table input {
    font-family: sans-serif;
    /* 1 */
    font-size: 100%;
    /* 1 */
    line-height: 1.15;
    /* 1 */
    margin: 0;
    overflow: visible;
    border: 1px solid #c0c0c0 !important;
    margin: 0 2px !important;
    display: block !important;
    box-sizing: border-box !important;
    width: 100% !important;
    height: 2.4375rem !important;
    margin: 0 0 0 !important;
    padding: 0.5rem !important;
    border: 1px solid #cacaca !important;
    border-radius: 0 !important;
    background-color: #fefefe !important;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1) !important;
    font-family: inherit !important;
    font-size: 1rem !important;
    font-weight: normal !important;
    line-height: 1.5 !important;
    color: #0a0a0a !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
}

:host /deep/ ng2-smart-table [type='text']:focus {
    outline: none !important;
    border: 1px solid #7CB0F9 !important;
    background-color: #fefefe !important;
    box-shadow: 0 0 5px #cacaca !important;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out !important;
}

:host /deep/ ng2-smart-table {
    font-size: 1rem
}

:host /deep/ ng2-smart-table * {
    box-sizing: border-box
}

:host /deep/ ng2-smart-table button, :host /deep/ input, :host /deep/ optgroup, :host /deep/ select, :host /deep/ textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

:host /deep/ ng2-smart-table table {
    line-height: 1.5em;
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    width: 100%;
    max-width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}

:host /deep/ ng2-smart-table table tr th {
    font-weight: 700
}

:host /deep/ ng2-smart-table table tr section {
    font-size: .75em;
    font-weight: 700
}

:host /deep/ ng2-smart-table table tr td, :host /deep/ ng2-smart-table table tr th {
    font-size: .875em;
    margin: 0;
    padding: .5em 1em
}

:host /deep/ ng2-smart-table a {
    color: #1e6bb8;
    text-decoration: none;
}

:host /deep/ ng2-smart-table a:hover {
    text-decoration: underline
}

:host /deep/ ng2-smart-table .ng2-smart-title {
    color: #6a6c71 !important;
    text-decoration: none
}

:host /deep/ ng2-smart-table table {
    border: 1px solid #ddd;
}

:host /deep/ ng2-smart-table td {
    border: 1px solid #ddd;
}

:host /deep/ ng2-smart-table th {
    border: 1px solid #ddd;
}

:host /deep/ ng2-smart-table .ng2-smart-action {
    padding-left: 3px;
    padding-right: 3px;
}

.menu-color-text {
    color: white !important;
    font-weight: bold;
}

.title-text {
    color: white;
    font-weight: bold;
}

.back-section {
    /* background: linear-gradient(#3498db, #2d82bb); */
    background-color: #34495e;
    min-height: 300px;
}

.custom-icon {
    max-width: 220px;
    margin-top: 20px;
}

.custom-icon-modal {
    max-width: 220px;
    margin-top: 30px;
}

.custom-modal {
    background-color: #34495e;
    overflow-y: hidden;
}

.custom-btn-modal {
    width: 100%;
    background-color: #3498DB;
}

.close-modal-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.input-class {
    color: #d6e1e8;
    font-weight: bold;
}