<div class="navbar-fixed" style="position: absolute;">
  <nav class="transparent z-depth-0">
    <div class="nav-wrapper nav-margins">
      <a href="#" class="brand-logo title-text">
        <!-- <b>Juntos podemos mais!</b> -->
      </a>
      <ul id="nav-mobile" class="right">
        <li>
          <a (click)="openModal1()" target="_blank" class="menu-color-text">
            <i class="large material-icons">cast_connected</i>
          </a>
        </li>
        <li>
          <a (click)="openModal2()" class="menu-color-text">
            <i class="large material-icons">settings</i>
          </a>
        </li>
        <li>
          <a (click)="onSignOut()" class="menu-color-text">
            <i class="large material-icons">keyboard_backspace</i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="row animated fadeIn">
  <div class="col s12 back-section center">
    <img src="../../../assets/icon.png" class="responsive-img custom-icon" alt="">
  </div>
</div>
<div class="row animated fadeInUp">
  <div class="card col s10 offset-s1" style="padding: 25px; overflow-y: hidden;">
    <ng2-smart-table [settings]="settings" [source]="tableData" (createConfirm)="onCreateConfirm($event)" (deleteConfirm)="onDeleteConfirm($event)"
      (editConfirm)="onSaveConfirm($event)"></ng2-smart-table>
  </div>
</div>
<!-- Modal Structure -->
<div id="modal1" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions1">
  <i class="material-icons small close-modal-icon white-text pointer" (click)="closeModal1()">close</i>
  <div class="modal-content custom-modal">
    <div class="row">
      <div class="col s12 m6 center">
        <img src="../../../assets/icon.png" class="responsive-img custom-icon-modal" alt="">
      </div>
      <div class="col s12 m6">
        <h5 class="white-text">
          <b>Selecione a sala:</b>
        </h5>
        <div class="col s12">
          <p *ngFor="let room of rooms">
            <input name="group1" type="radio" [id]="room.name + room.id" [(ngModel)]="radioButtonValue" [value]="room.id" [disabled]="isDisabled?true:null"
            />
            <label [for]="room.name + room.id">
              <b>{{room.name}}</b>
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer custom-modal">
    <div class="row">
      <div class="col s12 m6 offset-m6">
        <button class="btn custom-btn-modal" (click)="goColors()">Conectar</button>
      </div>
    </div>
    <!-- <button class="btn" style="margin-right: 10px;" (click)="goColors()">Ir</button> -->
  </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal" materialize="modal" [materializeParams]="model1Params" [materializeActions]="modalActions2">
  <i class="material-icons small close-modal-icon white-text pointer" (click)="closeModal2()">close</i>
  <div class="modal-content custom-modal">
    <div class="row">
      <div class="col s12 m6 center">
        <img src="../../../assets/icon.png" class="responsive-img custom-icon-modal" alt="">
      </div>
      <div class="col s12 m6">
        <h5 class="white-text">
          <b>Alterar E-mail:</b>
        </h5>
        <form id="form-update-email" #updateacc="ngForm" (ngSubmit)="UpdateEmail(UpdateAccData.email)">
          <input type="email" placeholder="E-mail" class="validate input-class" required name="UpdateAccData.email" [(ngModel)]="UpdateAccData.email">
          <button class="btn custom-btn-modal" [disabled]="updateacc.invalid">Atualizar e-mail</button>
        </form>
        <h5 class="white-text">
          <b>Alterar Senha:</b>
        </h5>
        <form id="form-update-password" #updatepassword="ngForm" (ngSubmit)="UpdatePassword(UpdateAccData)">
          <input type="password" placeholder="Senha" class="validate input-class" required name="UpdateAccData.password" [(ngModel)]="UpdateAccData.password">
          <input type="password" placeholder="Repete Senha" class="validate input-class" required name="UpdateAccData.confirmPassword" [(ngModel)]="UpdateAccData.confirmPassword">
          <button class="btn custom-btn-modal"  [disabled]="updatepassword.invalid">Atualizar Senha</button>
        </form>
      </div>
    </div>
  </div>
  <!--   <div class="modal-footer custom-modal">
    <div class="row">
      <div class="col s12 m6 offset-m6">
        <button class="btn custom-btn-modal" (click)="goColors()">Conectar</button>
      </div>
    </div>
    <button class="btn" style="margin-right: 10px;" (click)="goColors()">Ir</button>
  </div> -->
</div>